{{template "_header" .}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Import Log Presensi</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Import Log Presensi</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form method="POST" action="/import_log_presensi/process" id="form-upload-log-presensi" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">

                            <div class="item form-group">
                                <label class="col-form col-md-3 col-sm-3 label-align" for="last-name">Pilih File (_attlog.dat) <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="file" name="file" required />
                                </div>
                            </div>

                            <div style="display: none;">
                                <label>Rename to :</label>
                                <input type="text" id="alias" name="alias" value=""/><br />
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                </label>
                                    <button type="submit" class="btn btn-success">Submit <i class="fa fa-upload"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
        var now = new Date();
        var filename = 'log_presensi_'+now.format("dmYhms");
        $("#alias").val(filename);
    });
</script>
{{template "_footer"}}