{{template "_header" .}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Edit Pengguna</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Pengguna</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form method="POST" action="/setting_pengguna/update" id="form-update-pengguna" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Id <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" required="required" class="form-control " value="{{.records.IdPengguna}}" disabled="">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Nama Pengguna <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="NamaPengguna" name="NamaPengguna" required="required" class="form-control" value="{{.records.Nama}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Username <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="Username" name="Username" required="required" class="form-control" value="{{.records.Username}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Password <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="password" id="Password" name="Password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Role <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control select2" id="IdRole" name="IdRole">
                                        <option value="0">- Pilih Role -</option>
                                        {{ range .roles }}
                                        <option value="{{.IdRole}}">{{.NamaRole}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Pegawai <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control select2" id="IdPegawai" name="IdPegawai">
                                        <option value="0">- Pilih Pegawai -</option>
                                        {{ range .pegawais }}
                                        <option value="{{.IdPegawai}}">{{.NamaPegawai}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>

                            <!-- Untuk mengirimkan parameter edit data -->
                            <input type="hidden" name="IdPengguna" value="{{.records.IdPengguna}}">
                            <input type="hidden" name="PasswordLama" value="{{.records.Password}}">

                            <div class="ln_solid"></div>
                            <div class="item form-group" id="btn-action" style="display: none;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a class="btn btn-primary" type="button" href="/setting_pengguna">Batal</a>
                                    <button type="submit" value="Save" class="btn btn-success">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->

<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script src="/static/js/select2/select2.min.js"></script>
<script type="text/javascript">
    setTimeout(() => {
        $("#IdRole").val("{{.records.IdRole}}").trigger("change");
        $("#IdPegawai").val("{{.records.IdPegawai}}").trigger("change");
        $('#btn-action').show('fast');
    }, 100);
</script>
{{template "_footer"}}