{{template "_header" .}}
        <div class="right_col" role="main">
            <div class="">
                
                <div class="page-title">
                    <div class="title_left">
                        <h3>Laporan Bulanan Per <small>Unit</small></h3>
                    </div>
                </div>
                
                <div class="clearfix"></div>

                <div class="row">
                    <!-- FORM PENCARIAN DATA -->
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Form Pencarian</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nama Unit
                                        </label>
                                        <div class="col-md-6 col-sm-6">
                                            <select class="form-control" id="IdUnit" name="IdUnit">
                                                <option value="0">- Pilih Unit Kerja -</option>
                                                {{ range .unitkerja }}
                                                <option value="{{.IdUnit}}">{{.IdUnit}} | {{.UnitNama}}</option>
                                                {{ end }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Bulan
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select class="form-control" id="IdBulan" name="IdBulan">
                                                <option>- Pilih Bulan -</option>
                                                <option value="1">Januari</option>
                                                <option value="2">Februari</option>
                                                <option value="3">Maret</option>
                                                <option value="4">April</option>
                                                <option value="5">Mei</option>
                                                <option value="6">Juni</option>
                                                <option value="7">Juli</option>
                                                <option value="8">Agustus</option>
                                                <option value="9">September</option>
                                                <option value="10">Oktober</option>
                                                <option value="11">November</option>
                                                <option value="12">Desember</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Tahun
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select class="form-control" id="IdTahun" name="IdTahun">
                                                <option>- Pilih Tahun -</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                            <button type="button" onclick="loadMore()" class="btn btn-success">Cari Data</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- FORM PENCARIAN DATA -->
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Tabel Laporan </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row" id="LoadTabel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadMore() {
        $.ajax({
            url: '/rekap_laporan_bulanan_perunit/load_data',
            type: 'POST',
            data: {
                IdUnit    : $('#IdUnit').val(),
                IdBulan    : $('#IdBulan').val(),
                IdTahun    : $('#IdTahun').val()
            },
            success: function (respon) {
                $('#LoadTabel').html(respon);
            }
        });
    }
</script>
{{template "_footer"}}