<div class="col-sm-12">
    <div class="card-box table-responsive">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2">Nama</th>
                    <th colspan="2">Jumlah Kehadiran</th>
                    <th colspan="2">Pot. Insentif Kehadiran</th>
                    <th colspan="2">Uang Makan Kehadiran</th>
                </tr>
                <tr>
                    <th>Jumlah</th>
                    <th>Validasi</th>
                    <th>Jumlah</th>
                    <th>Validasi</th>
                    <th>Jumlah</th>
                    <th>Validasi</th>
                </tr>
            </thead>
            <tbody>
            {{ range .data }}
                <tr>
                    <td>{{.No}}</td>
                    <td>{{.NamaPegawai}}</td>
                    <td>{{.JumlahKehadiran}}</td>
                    <td id="ValVK-{{.IdPK}}"><span onclick='getParent("ValVK-{{.IdPK}}","{{.ValidasiKehadiran}}")'>{{.ValidasiKehadiran}}</span></td>
                    <td id="ValPIK-{{.IdPK}}"><span onclick='getParent("ValPIK-{{.IdPK}}","{{.PotonganInsentifKehadiran}}")'>{{.PotonganInsentifKehadiran}}</span></td>
                    <td id="ValVIK-{{.IdPK}}"><span onclick='getParent("ValVIK-{{.IdPK}}","{{.ValidasiInsentifKehadiran}}")'>{{.ValidasiInsentifKehadiran}}</span></td>
                    <td id="ValUMKK-{{.IdPK}}"><span onclick='getParent("ValUMKK-{{.IdPK}}","{{.UMKKehadiran}}")'>{{.UMKKehadiran}}</span></td>
                    <td id="ValVUMK-{{.IdPK}}"><span onclick='getParent("ValVUMK-{{.IdPK}}","{{.ValidasiUMKKehadiran}}")'>{{.ValidasiUMKKehadiran}}</span></td>
                </tr>
            {{ end }}
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $('#datatable').DataTable();
    });

    function getParent(id,val) {
        $('#'+id+'').html('');
        $('#'+id+'').append('<input type="number" id="input-'+id+'" value="'+val+'"></input><button type="button" onclick=Batal("'+id+'","'+val+'")>Batal</button><button type="button" onclick=Simpan("'+id+'","'+val+'")>Simpan</button>');
    }

    function Batal(id,val) {
        $('#'+id+'').html('<span onclick=getParent("'+id+'","'+val+'")>'+val+'</span>');
    }

    function Simpan(id,val) {
        var newVal = $('#input-'+id).val();
        var newValValidate = newVal=='' ? '-' : newVal;
        $('#'+id+'').html('<span onclick=getParent("'+id+'","'+newValValidate+'")>'+newValValidate+'</span>');
        
        if (val==newValValidate) {
            Batal(id,val);
            return;
        }

        const dataId = id.split("-");
        var sendData = {
            Id: dataId[1],
            ColName: dataId[0],
            NewVal: newVal
        };

        $.ajax({
            type: 'POST',
            url: '/rekap_laporan_bulanan_perunitv2/updateinline',
            dataType: 'JSON',
            data: sendData,
            success: function (data) {
                if(data.Status=='success') {
                    loadMore();
                }
            }
        });
    }
</script>