{{template "_header" .}}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" style="display: inline-block;" >

            <div class="col-md-4 widget widget_tally_box">
            </div>

            <div class="col-md-4 widget widget_tally_box">
              <div class="x_panel ui-ribbon-container">
                <div style="text-align: center;">
                  <h2>JUMLAH PEGAWAI</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_title"></div>
                <div class="x_content">
                  <h1 class="name_title">{{.jumlah_pegawai}}</h1>
                  <p>Pegawai Aktif</p>
                  <div class="divider"></div>
                  <p>Data Pegawai Berisikan Pegawai Tetap, Kontrak, dan Magang.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 widget widget_tally_box">
            </div>

          </div>

          <div class="row">

            <div class="col-md-4 widget widget_tally_box">
              <div class="x_panel ui-ribbon-container">
                <div style="text-align: center;">
                  <h2>JUMLAH PEGAWAI MASUK</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_title"></div>
                <div class="x_content">
                  <h1 class="name_title">{{.jumlah_pegawai_masuk}}</h1>
                  <p>Pegawai</p>
                  <div class="divider"></div>
                  <p>Pegawai Masuk Per Hari Ini.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 widget widget_tally_box">
              <div class="x_panel ui-ribbon-container">
                <div style="text-align: center;">
                  <h2>JUMLAH PEGAWAI TIDAK MASUK</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_title"></div>
                <div class="x_content">
                  <h1 class="name_title">{{.jumlah_pegawai_tidak_masuk}}</h1>
                  <p>Pegawai</p>
                  <div class="divider"></div>
                  <p>Pegawai Tidak Masuk Per Hari Ini.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 widget widget_tally_box">
              <div class="x_panel ui-ribbon-container">
                <div style="text-align: center;">
                  <h2>JUMLAH PEGAWAI TIDAK MEMENUHI JAM KEHADIRAN</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_title"></div>
                <div class="x_content">
                  <h1 class="name_title">{{.jumlah_pegawai_tidak_memenuhi_jam}}</h1>
                  <p>Pegawai</p>
                  <div class="divider"></div>
                  <p>Pegawai Tidak Memenuhi Jam Kehadiran Per Hari Ini.</p>
                </div>
              </div>
            </div>

          </div>

          <!-- /top tiles -->

        </div>
        <!-- /page content -->
{{template "_footer"}}