{{template "_header" .}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Profile</h3>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User </small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="POST" action="/profile/update_profile" id="form-simpan-profile" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" src="{{ .foto }}" alt="Foto Profile Pengguna" title="Ubah Foto Pengguna" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 ">
                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>Informasi User Login</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item form-group">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Nama Pengguna
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="NamaPengguna" name="NamaPengguna" required="required" class="form-control" value="{{ .nama_pengguna }}">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Role
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="Role" name="Role" required="required" class="form-control" value="{{ .nama_role }}" disabled="disabled">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Username
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="Username" name="Username" required="required" class="form-control" value="{{ .username }}">
                                    </div>
                                </div>
                                
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Password
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="Password" name="Password" class="form-control" value="">
                                    </div>
                                </div>

                                <input type="hidden" name="IdPengguna" value="{{ .IdPengguna }}">
                                <input type="hidden" name="PasswordLama" value="{{ .datauser.Password }}">
                                <input type="hidden" name="FotoLama" value="{{ .foto }}">

                                <div class="item form-group">
                                    <label class="col-form col-md-3 col-sm-3 label-align" for="last-name">Pilih Foto (png,jpg,jpeg) <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input onchange="getFileName()" type="file" name="file" id="file" accept="image/png, image/jpg, image/jpeg" />
                                    </div>
                                </div>

                                <div style="display: none;">
                                    <label>Rename to :</label>
                                    <input type="text" id="alias" name="alias" value=""/><br />
                                </div>

                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                    </label>
                                        <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                                    </div>
                                </div>   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
        var now = new Date();
        var filename = 'foto_'+now.format("dmYhms");
        var fileupload = $('#file').val();
        if (fileupload != '') {
            $("#alias").val(filename);
        }
    });

    function getFileName() {
        console.log('get file name jalan');
        var now = new Date();
        var filename = 'foto_'+now.format("dmYhms");
        var fileupload = $('#file').val();
        $("#alias").val(filename);
    }
</script>
{{template "_footer"}}