{{template "_header" .}}
<div class="right_col" role="main">
    <div class="">
        
        <div class="page-title">
            <div class="title_left">
                <h3>Laporan Bulanan Per <small>Pegawai</small></h3>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="row">
            <!-- FORM PENCARIAN DATA -->
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Pencarian</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nama Unit
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" id="IdUnit" name="IdUnit">
                                        <option>- Pilih Unit -</option>
                                        <option>Unit 1</option>
                                        <option>Unit 2</option>
                                        <option>Unit 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Nama Pegawai
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" id="IdPegawai" name="IdPegawai">
                                        <option>- Pilih Pegawai -</option>
                                        <option>Anton</option>
                                        <option>Bruno</option>
                                        <option>Ceri</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Tanggal
                                </label>
                                <div class="col-md-3 col-sm-3">
                                    <input id="TanggalAwal" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function() {
                                                input.type = 'text';
                                            }, 1000);
                                        }
                                    </script>
                                </div>
                                
                                <div class="col-md-3 col-sm-3">
                                    <input id="TanggalAkhir" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function() {
                                                input.type = 'text';
                                            }, 1000);
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="button" onclick="loadMore()" class="btn btn-success">Cari Data</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- FORM PENCARIAN DATA -->
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tabel Laporan </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" id="LoadTabel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    function loadMore() {
        $.ajax({
            url: '/rekap_laporan_bulanan_perpegawai/load_data',
            type: 'POST',
            data: {
                IdUnit    : $('#IdUnit').val(),
                IdBulan    : $('#IdBulan').val(),
                IdTahun    : $('#IdTahun').val()
            },
            success: function (respon) {
                $('#LoadTabel').html(respon);
            }
        });
    }
</script>
{{template "_footer"}}