{{template "_header" .}}
        <div class="right_col" role="main">
            <div class="">
                
                <div class="page-title">
                    <div class="title_left">
                        <h3>Setting <small>Role</small></h3>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Tabel Data Role </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <p class="text-muted font-13 m-b-30">
                                                <a type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="left" title="Menambah data role baru" href="/setting_role/add">Tambah Role <span class="fa fa-plus"></span></a>
                                            </p>
                                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama Role</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{ range .roles }}
                                                    <tr>
                                                        <td>{{.IdRole}}</td>
                                                        <td>{{.NamaRole}}</td>
                                                        <td>
                                                            <a type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="left" title="Mengedit data role" href="/setting_role/edit?id={{.IdRole}}">Edit <span class="fa fa-pencil"></span></a> &nbsp;
                                                            <a type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="left" title="Menghapus data role" href="/setting_role/delete?id={{.IdRole}}" onclick="return confirm('Anda yakin menghapus data ini?')">Hapus <span class="fa fa-trash-o"></span></a>
                                                        </td>
                                                    </tr>
                                                    {{ end }}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "_footer"}}