{{define "sidebar"}}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><img src="/images/favicon.png" style="
          height: 90%;
      "> <span>{{ .NamaAplikasi}}</span></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">
        <div class="profile_pic">
          <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>{{ .nama_pengguna }}</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>Menu Utama</h3>
          <ul class="nav side-menu">
            {{if (eq .Idrole "1") }}
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="/rekap_laporan_bulanan_perunit"><i class="fa fa-file-text-o"></i> Rekap Laporan Bulanan Per Unit</a></li>
            <li><a href="/rekap_laporan_bulanan_perpegawai"><i class="fa fa-file-o"></i> Rekap Laporan Bulanan Per Pegawai</a></li>
            {{end}}
            
            {{if (eq .Idrole "2") }}
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="/rekap_laporan_bulanan_perunit"><i class="fa fa-file-text-o"></i> Rekap Laporan Bulanan Per Unit</a></li>
            <li><a href="/rekap_laporan_bulanan_perpegawai"><i class="fa fa-file-o"></i> Rekap Laporan Bulanan Per Pegawai</a></li>
            {{end}}

            {{if (eq .Idrole "3") }}
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="/rekap_laporan_bulanan_perunit"><i class="fa fa-file-text-o"></i> Rekap Laporan Bulanan Per Unit</a></li>
            <li><a href="/rekap_laporan_bulanan_perpegawai"><i class="fa fa-file-o"></i> Rekap Laporan Bulanan Per Pegawai</a></li>
            {{end}}

            {{if (eq .Idrole "4") }}
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="/rekap_laporan_bulanan_perunit"><i class="fa fa-file-text-o"></i> Rekap Laporan Bulanan Per Unit</a></li>
            <li><a href="/rekap_laporan_bulanan_perpegawai"><i class="fa fa-file-o"></i> Rekap Laporan Bulanan Per Pegawai</a></li>
            {{end}}

            {{if (eq .Idrole "5") }}
            <li><a href="/profile"><i class="fa fa-home"></i> Profile</a></li>
            <li><a href="/rekap_laporan_bulanan_perpegawai"><i class="fa fa-file-o"></i> Rekap Laporan Bulanan Per Pegawai</a></li>
            {{end}}
          </ul>
        </div>
        {{if (eq .Idrole "1") }}
        <div class="menu_section">
        <h3>Menu Admin</h3>
          <ul class="nav side-menu">
            <li><a href="/referensi_unit"><i class="fa fa-university"></i> Referensi Unit</span></a></li>                
            <li><a href="/referensi_jam_kerja"><i class="fa fa-clock-o"></i> Referensi Jam Kerja</span></a></li>                
            <li><a href="/referensi_jadwal_kerja"><i class="fa fa-calendar"></i> Referensi Jadwal Kerja</span></a></li>                
            <li><a href="/data_pegawai"><i class="fa fa-users"></i> Data Pegawai</span></a></li>                
            <li><a href="/setting_pengguna"><i class="fa fa-user"></i> Setting Pengguna</span></a></li>                
            <li><a href="/setting_menu"><i class="fa fa-list-alt"></i> Setting Menu</span></a></li>                
            <li><a href="/setting_role"><i class="fa fa-key"></i> Setting Role</span></a></li> 
            <li><a href="/import_log_presensi"><i class="fa fa-cloud-upload"></i> Import Log Presensi</span></a></li>               
            <!-- <li><a href="/product"><i class="fa fa-bug"></i> Tes UI Produk</span></a></li> -->
          </ul>
        </div>
        {{end}}

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
{{end}}